<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Passport Example with Twitter</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	</head>
	<body>
		<nav class="navbar" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">

				<a class="navbar-item" href="/">
		      Passport Example with Twitter
		    </a>
			 	<div class="navbar-burger" data-target="navMenu">
	      	<span></span>
	       	<span></span>
	       	<span></span>
		  	</div>
			</div>
		  <div class="navbar-menu" id="navMenu">
				<a href="/" class="navbar-item"><span class="icon is-small"><i class="fas fa-home"></i></span><span>&nbsp;Home</span></a>
				{{#if user}}
					<a href="/account" class="navbar-item"><span class="icon is-small"><i class="fas fa-user"></i></span><span>&nbsp;Account</span></a>
					<a href="/logout" class="navbar-item"><span class="icon is-small"><i class="fas fa-sign-out-alt"></i></span><span>&nbsp;Log Out</span></a>
				{{else}}
					<a href="/login" class="navbar-item"><span class="icon is-small"><i class="fas fa-sign-in-alt"></i></span><span>&nbsp;Log In</span></a>
				{{/if}}
				<div class="navbar-burger">
				</div>
		  </div>
		</nav>

		<section class="section">
	    <div class="container">
				{{{ body }}}
			</div>
		</section>

		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {

			  // Get all "navbar-burger" elements
			  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

			  // Check if there are any navbar burgers
			  if ($navbarBurgers.length > 0) {

			    // Add a click event on each of them
			    $navbarBurgers.forEach(function ($el) {
			      $el.addEventListener('click', function () {

			        // Get the target from the "data-target" attribute
			        var target = $el.dataset.target;
			        var $target = document.getElementById(target);

			        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
			        $el.classList.toggle('is-active');
			        $target.classList.toggle('is-active');

			      });
			    });
			  }

			});
		</script>
	</body>
</html>
