<nav class="panel">
  <p class="panel-heading">
    Login with
  </p>
  <a class="panel-block" href="/auth/twitter">
    <span class="panel-icon">
      <i class="fab fa-twitter"></i>
    </span>
    Twitter
  </a>
</nav>
